/* global */
sub {font-size: 60%;}
body {direction: ltr !important;}

/* nav */
#nav {margin-top: 50px;}
#nav #nav-icon {position: absolute; right: 0;}
.overlay #nav-icon {margin-top: 85px; opacity: 0.7;}
.overlay {height: 100%; width: 100%; display: none; position: fixed; z-index: 99; top: 0; left: 0; background-color: rgba(0,0,0,0.93);}
.overlay-content {position: fixed; top: 20%; left: 0; width: 100%; text-align: center;} /* used to be position: relative */

/* header hero */
header {height: 100vh; padding-top: 40px; box-sizing: border-box; background-position: center; background-repeat: no-repeat; background-size: cover; border: 0; color: white;}
#header-home {background-image: url('img/hero.png');}
header p {padding-top: 20px;}
p + p {padding-top: 15px;}

/* callout */
.callout {margin-top: 50px;}
.callout i {font-weight: bold; font-style: italic;}
#learnmore-expand i {font-weight: normal; font-style: italic;}

/***** bug: margin-top slides down lag *****/

/* content */
.content-home img {width: 100%;}
.content-home  {margin-top: 50px;}
.content-home h2 {padding-bottom: 20px;}
.content-home + .content-home {margin-top: 150px;}
.bio p {font-size: 0.875rem;}
#home {margin-top: 200px; margin-bottom: 200px;}

/* action */
.action {margin-top: 50px;}
.action h2 {padding: 150px 0 40px 0;}

/* buttons */
.action a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	font-size: 1.125rem;
	margin-top: 50px;
	padding-bottom: 10px;
	color: black;
	font-family: 'Barlow', Sans-Serif;
	font-weight: bold;
	line-height: 1.5;
}

.overlay-content a {
	padding: 15px;
	text-decoration: none;
	font-size: 2rem;
	color: white;
	opacity: 0.7;
	display: block;
	font-family: 'Barlow', Sans-Serif;
	font-weight: bold;
	max-width: 300px;
	margin: 0 auto;
}

.overlay-content a:hover {opacity: 1; transition: opacity 0.2s ease-in 0.1s;}
/* .overlay .closebtn {position: absolute; top: 20px; right: 45px; font-size: 60px;} */
.inline-link a {margin-top: 0;}
a, a:hover, a:visited {color: black; text-decoration: none;}

/* footer */
#footer-desktop {display: block;}
#footer-rwd {display: none;}

footer {
	background: black;
	padding-top: 150px;
	padding-bottom: 150px;
	margin-top: 200px;	
}

footer .footer-logo {
	margin-top: 1px;
	padding-top : 0;
	padding-bottom: 10px;
	opacity: 0.7;
}

footer .link-h1 {
	font-size: 0.875rem;
	color: white;
	opacity: 0.4;
	padding-bottom: 10px;
	font-weight: bold;
	line-height: 1.5;
}

footer p#copyrights {
	font-size: 0.75rem;
	color: white;
	opacity: 0.4;
	padding-top: 8px;
}

footer a {
	display: block;
	font-size: 0.75rem;
	color: white;
	text-decoration: none;
	line-height: 1.5;
	opacity: 0.7;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer a:hover {opacity: 1;}

/* responsive 960, 720, 540 */

@media only screen and (max-width: 960px) {
	#header-home h1 {font-size: 2rem;}
	.content-home h2 {margin-top: 0; padding-top: 0;}
	.content-home p {font-size: 1.25rem;}
	.prev-next span {display: none;}
}

@media only screen and (max-width: 720px) {
	h1, h2 {font-size: 2rem;}
	#footer-desktop {display: none;}
	#footer-rwd p#copyrights {padding-top: 40px;}
	#footer-rwd {display: block; text-align: center;}
	#footer-rwd .link-h1 {margin-top: 50px;}
	#footer-rwd .link-h1 {margin-top: 0; font-size: 0.875rem;}
	#footer-rwd .footer-logo {margin-top: 0; margin-bottom : 30px;}
	.prev-next {display: none;}
	.overlay a {font-size: 1.5rem;}
	/* .overlay .closebtn {top: 15px; right: 35px;} */
}

@media only screen and (max-width: 719px) {
	.content-joinus .joinus-category-rwd {margin-top: 25px;}
}

@media only screen and (max-width: 540px) {
	.media-category {margin-top: 130px;}
	.media-category a {margin-top: 0;}
}
